extends layout

block content
    h1= title

    
    form()
     div(class='form-row')
      div(class='form-group col-md-6')
       label(for='title') Title
       input(type="title" class="form-control" id="title")
      div(class='form-group col-md-6')
       label(for='body') Content
       input(type="text" class="form-control" id="body")
    button(class='btn btn-primary' action='') Post!