extends layout

block content
  nav(class='navbar navbar-expand-lg navbar-dark bg-primary')
   a(class='navbar-brand' href='#') Odin Book
  form(class='')
   label(for='')
   input(type='' for='')
   label(for='')
   input(type='' for='')
   button(onClick='') Log In

div(class='container-fluid')
 div(class='container col-md-6')
  div(class='form')
   h1 Sign up
   p It's quick and easy.
   form(action="")
    div(class='form-group')
     div(class='form-row')
      input(for='' type='' placeholder='First name')
      input(for='' type='' placeholder='Last name')
    div(class='form-group')
     input(for='' type='' placeholder='Email or phone number')
     input(for='' type='' placeholder='Password')
    div(class='form-group')
     label(for='birthdate') Birthday
     input(type="")
    div(class='form-group')
     label(for='gender') Gender
     input(type="")
  button(onClick='') Sign Up


