extends layout

block content
 h1= title

 form(action="")
  div(class='form-row')
   label(for='title') Title
   input(type='text' name='title' class='form-control')
 div(class='form-group')
  label(for='content') Content
  input(type='textarea' name='content' class='form-control')
 button(class='btn btn-primary') Submit Post