extends layout

block content
    h1= title

    button(class='btn btn-primary' action='') Log in with Facebook!

    form()
     div(class='form-row')
      div(class='form-group col-md-6')
       label(for='email') Email
       input(type="email" class="form-control" id="email")
      div(class='form-group col-md-6')
       label(for='password') Password
       input(type="password" class="form-control" id="password")
     div(class='form-group')
      label(for='name') Name
      input(type='text' class='form-control' id='name')
     div(class='form-group')
      label(for='profile_photo') Profile Picture
      input(type='')
      label(for='cover_photo') Cover Photo
      input(type='')
     div(class='form-group')
      label(for='birthday') Birthdate
      div
     div(class='form-group')
      label(for='sex') Sex
      div(class='form-check form-check-inline')
       input(type="radio" class="form-control" id="male")
       label(for='male' class='form-check-label') Male
      div(class='form-check form-check-inline')
       input(type="radio" class="form-check-input" id="female")
       label(for='female' class='form-check-label') Female
      div(class='form-check form-check-inline')
       input(type="radio" class="form-check-input" id="other")
       label(for='other' class='form-check-label') Other
     div(class='form-row')
      label Occupation
       div(class='form-group')
        label(for="")
        input(type="")
        label(for="")
        input(type="")
        label(for="")
        input(type="")
     div(class='form-row')
      label Education
       div(class='form-group')
        label(for="")
        input(type="")
        label(for="")
        input(type="")
        label(for="")
        input(type="")
     div(class='form-group')
/* relationsip status, hometown, location, bio
*/    



